@import '/assets/styles/mixins/flexbox';
@import '/assets/styles/mixins/media';

.Greeting {
  @include flexbox(center, center, column, 96px);
  height: 100vh;

  @include media(max, tablet) {
    gap: 48px;
  }

  &__text {
    @include flexbox(initial, initial, column, 24px);

    @include media(max, tablet) {
      gap: 12px;
    }

    p {
      font-size: clamp(14px, 1.5vw, 20px);
    }
  }
}
