@import '../../assets/styles/mixins/_flexbox';

.treasury {
  .projects {
    gap: 20px;
  }

  &__contact {
    @include flexbox(center, center, column, 40px);
    margin-top: 12rem;
    width: 100%;

    @include query(max, tablet) {
      margin-top: 6rem;
    }

    @include query(max, mobile) {
      margin-top: 4rem;
    }

    h2 {
      font-size: 3rem;
      text-align: center;

      @include query(max, tablet) {
        font-size: 2rem;
      }

      @include query(max, mobile) {
        margin-top: 1rem;
      }
    }

    a {
      @include flexbox(center, center, row, 0);
      width: 100%;
      max-width: 450px;

      font-size: 1.4rem;
      border: 1px solid #fff;
      border-radius: 8px;

      padding: 10px 40px;

      @include query(max, tablet) {
        font-size: 1.2rem;
      }

      @include query(max, mobile) {
        max-width: unset;
        font-size: 1rem;
      }

      &:hover {
        color: #dad394;
        text-shadow: 0 0 20px #dad394;
        border-color: #dad394;
      }
    }
  }
}
