@import '../../assets/styles/mixins/_flexbox';
@import '../../assets/styles/mixins/query';

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ff000011;
  display: flex;
  justify-content: center;
  z-index: 20;
  padding-inline: 20px;
}

.modal-body {
  position: relative;
  top: 30%;
  height: fit-content;
  background: rgba(24, 24, 24, 0.99);
  color: white;
  border-radius: 8px;
}

.modal-btn {
  cursor: pointer;
  @include flexbox(center, center, row, 0);
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 8px;
  max-width: 450px;
  font-size: 1.4rem;

  @include query(max, tablet) {
    font-size: 1.2rem;
  }

  @include query(max, mobile) {
    max-width: unset;
    font-size: 1rem;
  }

  &:hover {
    opacity: 0.6;
  }
}

.close-modal-btn {
  cursor: pointer;
  display: inline-flex;
  border-radius: 8px;
}
