h1,
.h1,
h2,
.h2,
h3,
.h3 {
  display: block;
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: clamp(40px, 11vw, 140px);
  line-height: 1;
  letter-spacing: -0.03em;
}

h2,
.h2 {
  font-size: clamp(40px, 5vw, 78px);
  line-height: 74px;
  letter-spacing: -0.02em;

  @include media(max, tablet) {
    line-height: 1.2;
  }
}

h3,
.h3 {
  font-size: clamp(32px, 3vw, 48px);
  line-height: 52px;
  letter-spacing: -0.05em;

  @include media(max, tablet) {
    line-height: 1.2;
  }
}

h4,
.h4 {
  font-size: clamp(24px, 2vw, 30px);
  line-height: 36px;
  letter-spacing: -0.01em;
}
